.container-jogo {
  width: 100%;

  text-align: center;
  display: flex;
  margin-top: 0;
}

.container {
  width: 20rem;
  height: 30rem;
  margin: 0;
}

.input-letra {
  width: 2.5rem;
  height: 4rem;
  margin-top: 25rem;
  background-color: rgb(239, 241, 245);
  border: solid 1px transparent;
  border-bottom: solid 3px black;
  font-size: 50px;
  text-align: center;
}