body {
  margin: 0;
  padding: 0;
  background-color: rgb(239, 241, 245);
  z-index: 0;

}

header {
  display: flex;
  margin-left: 2rem;
  justify-content: space-between;
  color: rgb(24, 24, 83);
  z-index: 0;

}

h1 {
  font-size: 35px;
  font-family: 'Architects Daughter', cursive;
  padding-right: 3rem;
}

.container {
  background-color: rgb(239, 241, 245);
  width: 100%;
  height: 65VH;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.788);
  z-index: 0;
  text-align: center;

}

#box {
  position: absolute;
  margin-left: 28rem;
  margin-top: 7rem;
  width: 33%;
  height: 60%;
  background-color: rgb(252, 252, 252);
  border: solid 3px rgb(7, 111, 248);
  border-radius: 20px;
  text-align: center;
  display: block;
  z-index: -5;
}



#img-home {
  margin-top: 1rem;
  padding-bottom: 1rem;
}

#logo-alura {
  width: 7rem;
}

.button {
  width: 11rem;
  height: 2.5rem;
  margin: 1rem;
  border-radius: 15px;
  font-size: 15px;
  border-color: aqua;

}

.button.blue {
  background-color: rgb(7, 111, 248);
  color: white;
}

.a {
  text-decoration: none;
  color: #fff;
}

.a:hover {
  color: rgb(7, 111, 248);
}

.button.blue:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.89);
  color: rgb(7, 111, 248);
}

.button.white {
  background-color: white;
  color: rgb(7, 111, 248);

}

.button.white:hover {
  cursor: pointer;
  background-color: rgb(7, 111, 248);
  color: white;
}

.rodape-prin {
  background-color: #fff;
  clear: both;
  padding: 10px;
  color: rgb(92, 91, 91);
  font-size: 15px;
  font-family: "arial", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#desenvolvedor {
  margin: 0;
}

.input-letras {
  display: flex;
  width: 2rem;
  height: 4rem;
  border: solid 1px transparent;
  border-bottom: solid 3px black;
  background-color: rgb(239, 241, 245);
  margin-left: 1rem;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  text-align: center;
}

.input-palavra {
  display: flex;
  width: 2rem;
  height: 4rem;
  border: solid 1px transparent;
  border-bottom: solid 3px black;
  background-color: rgb(239, 241, 245);
  margin-left: 1rem;
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  text-align: center;

}

#msg {

  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;


}

#palavra-digitada {
  border: solid 2px aqua;
  height: 1.5rem;
  width: 15rem;
  border-radius: 15px;


}

.box-button {
  margin-bottom: 2rem;
}

.button-letra {
  width: 3rem;
  height: 3rem;
  border: solid 1px rgb(7, 111, 248);
  border-radius: 5px;
  font-size: 20px;
  color: rgb(20, 2, 68);
  margin-bottom: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.button-letra:hover {
  cursor: pointer;
  background-color: rgb(224, 236, 236);
}

#butons-letras {
  width: 20%;
  height: 25%;
  margin-top: 2rem;
  margin-right: 2REM;
}



#over {
  position: absolute;
  margin-left: 30rem;
  margin-top: 7em;
  text-align: center;
  display: block;
  z-index: -2;

}

#imgGameOver {
  width: 25rem;
  height: 15rem;
}

#win {
  position: absolute;
  margin-top: 7rem;
  margin-left: 33rem;
  text-align: center;
  display: block;
  z-index: -3;

}

#imgwin {
  width: 18rem;
}

@media (max-width: 600px) {
  header {
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
    color: rgb(24, 24, 83);
    z-index: 0;

  }

  h1 {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    padding-right: 1rem;
  }

  .container {
    background-color: rgb(239, 241, 245);
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    justify-content: space-between;

  }

  #img-home {
    margin-top: .5rem;
    padding-bottom: .5rem;
  }

  #logo-alura {
    width: .5rem;
  }

  .input-letras {
    display: flex;
    width: .5rem;
    height: 1rem;
    border: solid 1px transparent;
    border-bottom: solid 3px black;
    background-color: rgb(239, 241, 245);
    margin-left: .5rem;
    font-family: 'Architects Daughter', cursive;
    font-size: 15;
    text-align: center;
  }

  #butons-letras {
    width: 80%;
    height: 25%;
    margin: auto;
  }

  .button-letra {

    width: 1.5rem;
    height: 1.5rem;
    border: solid 1px rgb(7, 111, 248);
    border-radius: 2px;
    font-size: 10px;
    color: rgb(20, 2, 68);
    margin-bottom: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  }

  .modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 0;
    text-align: center;

  }

  #box {
    position: absolute;
    margin-top: 4rem;
    margin-left: 5rem;
    width: 70%;
    height: 65%;
    background-color: rgb(252, 252, 252);
    border: solid 3px rgb(7, 111, 248);
    border-radius: 20px;
    text-align: center;
    display: block;
    z-index: -5;
  }

  #win {
    position: absolute;
    margin-top: 6rem;
    margin-left: 5rem;
    text-align: center;
    display: block;
    z-index: -3;

  }

  #imgwin {
    width: 20rem;
  }

  #over {
    position: absolute;
    margin-left: 3rem;
    margin-top: 8em;
    text-align: center;
    display: block;
    z-index: -2;

  }

  #imgGameOver {
    width: 25rem;
    height: 15rem;
  }
}